<div class="container">
  <h1>Anonymous Blog</h1>

  <ul>
    <li><a href='/posts'>Post Listing</a></li>
    <li><a href='#'>Tag Listing (to be completed)</a></li>
    <li><a href='/post/new'>Create a New Post</a></li>
  </ul>
  
</div>
