<div class="container">
  <h2>Yippee! &nbsp;&nbsp;<%=@posts_and_tag[:tag].name %> Posts!</h2>
  <ul>
  <% @posts_and_tag[:posts].each do |post| %>
    <li><a href="/post/<%=post.id%>"><%= post.title %></a></li>
  <% end %>
</ul>
</div>
